html,
body {
  margin: 0;
  padding: 0;
  background-color: #feeeed;
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  height: 100%;
}

#main {
  height: 100%;
}

#main > p {
  text-align: center;
  font-size: 1.2em;
}
@media (orientation: portrait) {
  /* Portrait 모드일 때 적용할 CSS */
  img {
    width: 100%;
    height: auto;
  }
  canvas {
    width: 100% !important;
    height: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (orientation: landscape) {
  /* Landscape 모드일 때 적용할 CSS */
  img {
    width: auto;
    height: 80%;
    margin: 0 auto;
    display: block;
  }
  canvas {
    width: auto !important;
    height: 80% !important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
